.Main_bar
  .Main_bar__group
    .Main_bar__group_name
      = @group.name
      .Main_bar__group_member
        Member :
        - @group.users.each do |user|
          = user.name
    .Main_bar__group_edit-btn
      = link_to edit_group_path(@group.id), class: 'edit-btn' do
        Edit
  .Message
    = render partial: 'message', collection: @messages
      
  .form
    = form_with model: [@group, @message], html: {class:"Form"}, local: true do |f|
      .input-form
        = f.text_field :content, class: 'input-form__text', placeholder: 'type a message'
        = f.label :image, class: 'input-form__image' do
          = icon('far', 'image', class: "icon__image")
          = f.file_field :image, class: 'input-form__image__file'
      = f.submit 'Send', class: 'submit-btn'